{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .details-row {
      display: none;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
    }

    .details-row.expanded {
      display: table-row;
    }

    .toggle-btn {
      cursor: pointer;
    }

    .student-list {
      background-color: #f8f9fa;
      border-radius: 8px;
    }

    .topic-input {
      display: flex;
      align-items: center;
    }

    .topic-input input {
      margin-right: 5px;
    }
    .tooltip-trigger {
      position: relative;
    }

    .tooltip-trigger:hover::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: 100%; /* Position above the button */
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      z-index: 1000;
      opacity: 1;
      visibility: visible;
    }

    .tooltip-trigger:hover::before {
      content: '';
      position: absolute;
      bottom: 95%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #333 transparent;
      z-index: 1000;
    }

    .tooltip-trigger::after, .tooltip-trigger::before {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease-in-out;
    }

    .table.mb-0 {
      margin-bottom: 0; /* Remove margin below the table */
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
  
    .overlay-content {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      width: 70%;
      height: 90%;
      display: flex;
      flex-direction: column;
      position: relative;
    }
  
    .content-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
    }
  
    .left-pane {
      flex: 1;
      padding: 10px;
      border-right: 1px solid #ddd;
      overflow: auto;
    }
  
    .right-pane {
      flex: 1;
      padding: 20px;
      overflow-y: auto;
    }
  
    .overlay-content .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  
    iframe {
      border: none;
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  
    .form-group label {
      font-weight: bold;
    }
  </style>
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">TA Dashboard</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">TA Hub</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card" style="height: 485px;">
            <div class="card-header border-0 d-flex justify-content-between">
              <div class="col">
                <h3 class="mb-0">Available Courses</h3>
                <p class="mb-0 small">
                  You're TA for following courses
                </p>
              </div>
              <button class="btn btn-sm btn-primary tooltip-trigger" data-tooltip="Click to view topics"
                      data-toggle="modal" data-target="#addTeachingAssistantModal">Topic</button>
            </div>
            <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
              <!-- Courses table -->
              <table class="table align-items-center table-flush" id="courses-table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Course</th>
                    <th scope="col">Batch Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Instructor</th>
                    <th scope="col">Instructor Email</th>
                  </tr>
                </thead>
                <tbody>
                  {% for a in ta %}
                  <tr class="course-row">
                    <td>
                      <button class="btn btn-sm btn-neutral toggle-btn">→</button>
                    </td>
                    <td>{{ a.course }}</td>
                    <td id={{ a.batch.id }}>{{ a.batch.batch_id }}</td>
                    <td>{{ a.start_date|date:"M d, Y" }}</td>
                    <td>{{ a.instructor }}</td>
                    <td>
                      <a href="mailto:{{ a.instructor_email }}">{{ a.instructor_email }}</a>
                    </td>
                  </tr>
                  <tr class="details-row" style="display: none;">
                    <td colspan="6">
                      <div class="student-list">
                        <!-- Title for the encapsulated table -->
                        <table class="table">
                          <thead colspan="3">
                            <tr>
                              <th colspan="3" class="text-center">Student Enrollment Requests for <strong>{{ a.course }}</strong></th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">Student Name</th>
                              <th scope="col">Student Email</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for student in a.students %}
                            <tr>
                              <td>{{ student.name }}</td>
                              <td>{{ student.email }}</td>
                              <td>
                                <button class="btn btn-success btn-sm accept-btn">✔</button>
                                <button class="btn btn-danger btn-sm reject-btn">✘</button>
                              </td>
                            </tr>
                            {% endfor %}
                            {% if a.students|length == 0 %}
                            <tr>
                              <td colspan="3" class="text-center">No students available</td>
                            </tr>
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% if ta|length == 0 %}
                  <tr>
                    <td colspan="6" class="text-center">No courses available</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
         <!-- Course Evaluation -->
        <div class="col-xl-4 col-lg-6 mb-4">
          <div class="card" style="height: 485px;">
          <div class="card-header border-0 d-flex justify-content-between">
              <div class="col">
                <h3 class="mb-0">Evaluate Answer Scripts</h3>
                <p class="mb-0 small">
                  Following are the sheets to be evaluated
                </p>
              </div>
            </div>
          <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                  <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Evaluate</th>
                  </tr>
                </thead>
              <tbody>
              {% load static %}
              {% for eval in evaluations %}
                <tr>
                  <td>{{ eval.exam.batch.course.name }}</td>
                  <td>{{ eval.exam.batch.batch_id }}</td>
                  <td>
                      <button
                        type="button" 
                        class="btn btn-sm btn-primary" 
                          onclick="openPDFOverlay('{% static 'documents/' %}{{ eval.document.document }}', '{{ eval.id }}')">
                        Evaluate
                      </button>
                  </td>
                </tr>
                <div id="pdfOverlay" class="overlay">
                  <div class="overlay-content">
                    <button class="btn btn-danger close-btn" onclick="closeOverlay()">Close</button>
                    <div class="content-wrapper">
                    <!-- Left: PDF Viewer -->
                    <div class="left-pane">
                      <iframe id="pdfFrame" src="" style="width: 100%; height: 100%;" frameborder="0"></iframe>
                    </div>
                    <!-- Right: Evaluation Form -->
                    <div class="right-pane">
                      <h4>Evaluation Form</h4>
                      <div class="exam-details mb-4">
                      <p><strong>Course:</strong> {{ eval.exam.batch.course.name }}</p>
                      <p><strong>Batch:</strong> {{ eval.exam.batch.batch_id }}</p>
                      <p><strong>Total Questions:</strong> {{ eval.exam.number_of_questions }}</p>
                      <p><strong>Total Marks:</strong> {{ eval.exam.max_scores }}</p>
                      <p><strong>Solution Scheme: </strong><a href="{% static 'documents/' %}{{ eval.exam.solutions }}" download>View Solutions</a></p>
                      </div>
                      <form id="assessment-form" class="space-y-4 overflow-y-auto max-h-[calc(100vh-200px)]" method="POST" action="{% url 'student_eval' %}">
                        {% csrf_token %}
                        <input type="hidden" name="current_evaluation_id" id="current_evaluation_id" value="Hello">
                        <input type="hidden" name="is_ta_evaluating" id="is_ta_evaluating" value="true">
                        {% for i in eval.get_score %}
                          <div class="form-group">
                            <label for="question-{{ forloop.counter }}">Question: {{ forloop.counter }}</label>
                            <input type="number" id="question-{{ forloop.counter }}" name="question-{{ forloop.counter }}" min="0" class="form-control d-inline-block w-auto" max="{{ eval.exam.marks_per_question }}" value="0" placeholder="Score" required> /{{ eval.exam.marks_per_question }}
                            <input type="text" id="feedback-{{ forloop.counter }}" name="feedback-{{ forloop.counter }}" class="form-control mt-2" placeholder="Comment">
                          </div>
                        {% endfor %}
                        <!-- Submit Button -->
                        <button id="submit-btn" type="submit"
                          class="btn btn-primary w-100 mt-4">
                          Submit
                        </button>
                      </form>
                    </div>
                    </div>
                  </div>
                </div>
                
              {% endfor %}
              {% if evaluations|length == 0 %}
              <tr>
              <td colspan="6" class="text-center">No pending enrollments</td>
              </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
    </div>

        <!-- Add Course Modal -->
    <div class="modal fade" id="addTeachingAssistantModal" tabindex="-1" role="dialog" aria-labelledby="addTeachingAssistantModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document"> <!-- Make modal wider with modal-lg -->
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="addTeachingAssistantModalLabel">Manage Topics</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <!-- Form for adding a new Teaching Assistant -->
                  <form method="POST" action="{% url 'associateTopic' %}" class="form-row">
                    {% csrf_token %}
                    <div class="col-md-6 mb-3">
                        <label for="course" class="sr-only">Course</label>
                        <select name="course" id="course" class="form-control" required>
                            <option value="" selected disabled>Select Batch</option>
                            {% for a in ta %}
                            <option value="{{ a.batch.id }}">{{ a.batch.batch_id }} | {{ a.course }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="topic_name" class="sr-only">Topic Name</label>
                        <input type="text" class="form-control" id="topic_name" name="topic_name" placeholder="Topic name" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="description" class="sr-only">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter description" required></textarea>
                    </div>
                    <div class="col-md-2 mb-3">
                        <button type="submit" class="btn btn-primary btn-block">Add topic</button>
                    </div>
                </form>

                  <!-- Table to display existing Teaching Assistants -->
                  <div class="table-responsive" style="height: 400px; overflow: hidden; border-radius: 10px;">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Date</th>
                                  <th>Batch ID</th>
                                  <th>Course ID</th>
                                  <th>Topic</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for topic in topics %}
                              <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td>{{ topic.date }}</td>
                                  <td>{{ topic.batch.batch_id }}</td>
                                  <td>{{ topic.batch.course.name }}</td>
                                  <td title="{{ topic.description }}">{{ topic.topic }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
    </div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
  let currentlyExpandedRow = null;

  // Toggle row functionality
  const toggleButtons = document.querySelectorAll('.toggle-btn');
    toggleButtons.forEach((button, index) => {
      button.addEventListener('click', () => {
        const detailsRow = document.querySelectorAll('.details-row')[index];

        // Close the currently expanded row, if any
        if (currentlyExpandedRow && currentlyExpandedRow !== detailsRow) {
          currentlyExpandedRow.style.display = 'none';
          const toggleButton = currentlyExpandedRow.previousElementSibling.querySelector('.toggle-btn');
          toggleButton.textContent = '→';
        }

        // Toggle the clicked row
        if (detailsRow.style.display === 'none') {
          detailsRow.style.display = 'table-row';
          button.textContent = '↓';
          currentlyExpandedRow = detailsRow;
        } else {
          detailsRow.style.display = 'none';
          button.textContent = '→';
          currentlyExpandedRow = null;
        }
      });
    });

  
    // Accept and reject button functionality
  
    document.addEventListener('click', (event) => {
        if (event.target.classList.contains('accept-btn') || event.target.classList.contains('reject-btn')) {
          const detailsRow = event.target.closest('.details-row');
          const courseRow = detailsRow.previousElementSibling; // The row before the details-row
          if (!courseRow) {
            console.error("Unable to find the corresponding course row.");
            return;
          }

          const batchId = courseRow.querySelector('td:nth-child(3)').id;
          const studentRow = event.target.closest('tr');
          const studentEmail = studentRow.querySelector('td:nth-child(2)').textContent.trim();

          // Determine action (accept or reject)
          const studentAction = event.target.classList.contains('accept-btn') ? 1 : 0;

          // Call the function for enrollment handling
          confirmEnrollment(batchId, studentEmail, studentAction);
          console.log(batchId, studentEmail, studentAction);
        }
      });
    });

  // Function to handle enrollment confirmation or rejection
  function confirmEnrollment(batchId, studentUsername, studentAction = 0, role="TA") {
    const csrfToken = "{{ csrf_token }}";
    const url = "{% url 'enrollment' %}";

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken,
      },
      body: JSON.stringify({
        role: "TA",
        batch_id: batchId,
        student_username: studentUsername,
        student_action: studentAction,
      }),
    })
      .then((response) => {
        if (response.ok) {
          window.location.reload();
        } else {
          alert("Failed to update enrollment status.");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("An error occurred while processing the enrollment.");
      });
  }

  // Open the PDF overlay and load the PDF
    function openPDFOverlay(pdfUrl, current_evaluation_id) {
      const pdfFrame = document.getElementById('pdfFrame');
      pdfFrame.src = pdfUrl; // Set the PDF URL
      document.getElementById('pdfOverlay').style.display = 'flex';

      const eval_id = document.getElementById('current_evaluation_id').value;
      document.getElementById('current_evaluation_id').value = current_evaluation_id;
    }
  
    // Close the overlay
    function closeOverlay() {
      document.getElementById('pdfOverlay').style.display = 'none';
      const pdfFrame = document.getElementById('pdfFrame');
      pdfFrame.src = ''; // Clear the iframe source
    }
  
    // Submit the evaluation
    function submitEvaluation() {
      const score = document.getElementById('evaluationScore').value;
      const remarks = document.getElementById('evaluationRemarks').value;
      alert(`Evaluation submitted:\nScore: ${score}\nRemarks: ${remarks}`);
      closeOverlay();
    }
  </script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
