{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .details-row {
      display: none;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
    }

    .details-row.expanded {
      display: table-row;
    }

    .toggle-btn {
      cursor: pointer;
    }

    .student-list {
      background-color: #f8f9fa;
      border-radius: 8px;
    }
  </style>
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Teacher Dashboard</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">TA Hub</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Available Batches</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Courses table -->
              <table class="table align-items-center table-flush" id="courses-table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Exam Date</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Max. marks</th>
                    <th scope="col">Questions</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% if batch_data|length == 0 %}
                  <tr>
                    <td colspan="6" class="text-center">No batches available</td>
                  </tr>
                  {% else %}
                    {% for batch in batch_data %}
                      <tr class="course-row">
                        <td class="px-4 py-2"><strong>{{ batch.batch.course }}</strong> ({{ batch.batch.batch_id }})</td>
                          {% if not batch.exams %}
                            <form class="course-form" method="post" action="/examination/">
                              {% csrf_token %}
                              <td class="px-4 py-2">
                                <input type="hidden" class="form-control border rounded px-2 py-1" id="batch_id" name="batch_id" value="{{ batch.batch.id }}">
                                <input type="datetime-local" class="form-control border rounded px-2 py-1" id="exam_date" name="exam_date">
                              </td>
                              <td class="px-4 py-2">
                                <input type="number" class="form-control border rounded px-2 py-1" id="duration" name="duration" minValue="0">
                              </td>
                              <td class="px-4 py-2">
                                <input type="number" class="form-control border rounded px-2 py-1" id="num_que" name="num_que" minValue="0">
                              </td>
                              <td class="px-4 py-2">
                                <input type="number" class="form-control border rounded px-2 py-1" id="max_marks" name="max_marks" minValue="0">
                              </td>
                              <td class="px-4 py-2">
                                <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i> Save</button>
                              </td>
                            </form>
                          {% else %}
                            <td class="px-4 py-2">{{ batch.exams.date }}</td>
                            <td class="px-4 py-2">{{ batch.exams.duration }} mins</td>
                            <td class="px-4 py-2">{{ batch.exams.number_of_questions }}</td>
                            <td class="px-4 py-2">{{ batch.exams.max_scores }}</td>
                            <td class="px-4 py-2">
                              <div class="d-flex">
                                <button class="btn btn-sm btn-danger mr-2" onclick="deleteExamination({{ batch.exams.id }})"><i class="fas fa-trash"></i></button>
                                <form id="csvForm" method="POST" action="{% url 'download_csv' %}">
                                  {% csrf_token %}
                                  <input type="hidden" class="form-control border rounded px-2 py-1" id="exam_id" name="exam_id" value="{{ batch.exams.id }}">
                                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-download"></i></button>
                                </form>
                              </div>
                            </td>
                          {% endif %}
                        
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

    <script>
      function deleteExamination(exam_id) {
        const csrfToken = "{{ csrf_token }}"; // CSRF token from Django context
        const url = "{% url 'examination' %}"; // Correctly resolved URL
        fetch(url, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
          },
          body: JSON.stringify({ exam_id: exam_id })
        })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            console.error('Failed to delete the examination.');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      };
    </script>

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
