{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .tooltip-trigger {
  position: relative;
}

.tooltip-trigger:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
}

.tooltip-trigger:hover::before {
  content: '';
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  z-index: 1000;
}

.tooltip-trigger::after, .tooltip-trigger::before {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}
</style>
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Teacher Dashboard</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Default</li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Card stats (same as before) -->
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-5">
          <div class="card" style="height: 400px; overflow: hidden; border-radius: 10px;">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Batches</h3>
                  <p class="mb-0 small">
                    All the batches with number of students enrolled.
                  </p>
                </div>
              </div>
            </div>
            <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Batch Name</th>
                    <th scope="col">Course</th>
                    <th scope="col">Strength</th>
                    <th scope="col">Download OnlineEval</th>
                  </tr>
                </thead>
                <tbody style="min-height: 100px;">
                  {% if batches %}
                  {% for batch in batches %}
                  <tr>
                    <td>{{ batch.batch_id }}</td>
                    <td>{{ batch.course_name }}</td>
                    <td>{{ batch.strength }}</td>
                    <td>
                      <form id="downloadForm{{ batch.id }}" method="POST" action="{% url 'download_online_eval' %}">
                        {% csrf_token %}
                        <input type="hidden" name="batch_id" value="{{ batch.id }}">
                        <button type="button" class="btn btn-sm btn-primary" onclick="submitDownloadForm('{{ batch.id }}')">Download</button>
                      </form></td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="3" class="text-center">No batches available</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-7">
          <div class="card" style="height: 400px; overflow: hidden; border-radius: 10px;">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Enrolled Students</h3>
                  <p class="mb-0 small">
                    Details of all the enrolled students.
                  </p>
                </div>
              </div>
            </div>
            <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
              <!-- Students table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Student Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Batch ID</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course ID</th>
                    <th scope="col">Incentives</th>
                  </tr>
                </thead>
                <tbody>
                  {% for student in students %}
                  <tr>
                    <td>{{ student.student_username }}</td>
                    <td><a href="mailto:{{ student.student_email }}">{{ student.student_email }}</a></td>
                    <td>{{ student.batch_id }}</td>
                    <td>{{ student.course_name }}</td>
                    <td>{{ student.course_id }}</td>
                    <td>{{ student.incentivization }}</td>
                  </tr>
                  {% endfor %}
                  {% if students|length == 0 %}
                  <tr>
                    <td colspan="5" class="text-center">No students enrolled</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="card" style="height: 400px; overflow: hidden; border-radius: 10px;">
            <div class="card-header border-0 d-flex justify-content-between">
              <div class="col">
                <h3 class="mb-0">Teaching Assistant <small class="text-muted">(Total TAs: {{ tas|length }})</small></h3>
                <p class="mb-0 small">
                  Details of all the enrolled students.
                </p>
              </div>
              <button class="btn btn-sm btn-primary tooltip-trigger" data-tooltip="Click to add a Teaching assistant" data-toggle="modal" data-target="#addTeachingAssistantModal">Enroll TA</button>
            </div>
            <div>
              
            <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
              <!-- Students table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Student Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Batch ID</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course ID</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ta in tas %}
                  <tr>
                    <td>{{ ta.ta_username }}</td>
                    <td><a href="mailto:{{ ta.ta_email }}">{{ ta.ta_email }}</a></td>
                    <td>{{ ta.batch_id }}</td>
                    <td>{{ ta.course_name }}</td>
                    <td>{{ ta.course_id }}</td>
                    
                   <td>
                      
                      <form method="POST" action="{% url 'remove_ta' %}">
                          {% csrf_token %}
                          <input type="hidden" name="ta_association_id" value="{{ ta.ta_id }}">
                          <button type="submit" class="btn btn-danger">Remove</button>
                      </form>
                      
                      
                  </td> 
                  </tr>
                  {% endfor %}
                  {% if tas|length == 0 %}
                  <tr>
                    <td colspan="5" class="text-center">No TAs</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      

      {% include "includes/footer.html" %}

    </div>

    <!-- Add Course Modal -->
    <div class="modal fade" id="addTeachingAssistantModal" tabindex="-1" role="dialog" aria-labelledby="addTeachingAssistantModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form method="POST" action="{% url 'ta_hub' %}">
          {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addTeachingAssistantModalLabel">Assign Teaching Assistant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Select Batch -->
              <div class="form-group">
                <label for="batch_id">Select Batch</label>
                <select class="form-control" id="batch_id" name="batch_id" required>
                  {% for batch in batches %}
                  <option value="{{ batch.id }}">{{ batch.batch_id }} | {{ batch.course_id }} | {{ batch.course_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <!-- Teaching Assistant Name -->
              <div class="form-group">
                <label for="teachingAssistantName">Teaching Assistant Name</label>
                <input type="text" class="form-control" id="teachingAssistantName" name="teachingAssistantName" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Assign</button>
            </div>
          </div>
        </form>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script>
    $(document).ready(function () {
      // Initialize tooltip on the button
      $('#blueTooltipBtn').tooltip({
        // Here we override the default tooltip template with our custom class "my-blue-tooltip"
        template: `
          <div class="tooltip my-blue-tooltip" role="tooltip">
            <div class="arrow"></div>
            <div class="tooltip-inner"></div>
          </div>
        `
      });
    });
  </script>
  <script>
    function submitDownloadForm(studentUsername) {
        console.log("Submitting form for student username:", studentUsername); // Debugging
        let form = document.getElementById("downloadForm" + studentUsername);
        if (form) {
            form.submit();  // Submit the form to trigger Excel download
        } else {
            console.error("Form not found for student username:", studentUsername);
        }
    }
  </script>

  
  
{% endblock javascripts %}