asgiref
autopep8
dj-database-url
django
gunicorn
pycodestyle
python-decouple
pytz
sqlparse
toml
Unipath
whitenoise
fpdf
pdf2image
qrcode
pyzbar
sudo
google
networkx
PyPDF2
google.generativeai
pandas
openpyxl
django-extensions
psycopg2-binary
pyOpenSSL
openpyxl
Werkzeug
# sudo apt install zbar-tools
