<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>
<body>
    <div class="email-container">
        <div class="header">
            <h1>PeerEval : : Forgot Password</h1>
        </div>
        <div class="content">
            <p>Dear Student,</p>
            <p>You have requested to reset your password</p>
            <p>Here is your new password</p>
            <p>{{ new_password }}</p>
            <p>If you have any questions, feel free to contact us.</p>
            <p>Thank you for your time and effort!</p>
            <p>With regards,<br>Peer Evaluation Team</p>
        </div>
        <div class="footer">
            <p>Peer Evaluation System</p>
        </div>
    </div>
</body>
</html>